/*Developer: Lezette Boutin
Table of Contents
HEADER - Discography: Mumford & Sons
MAINCONTENT - Mumford & Sons band & music information
FOOTER - copyrightht 2019
 Color Palette
#000; - black 
#1E2422 - cool almost black-logo color
#220120 - very dark purple
#3b0238 - dark purple
#62045d - plum
#7b0574 - lighter plum
#a5294c - warm cranberry
#7c1f29 - darker cranberry
#718A94 - slate gray
#d3dbde - light gray
#FFF; - white
*/
/* Global styles
---------------------------*/
/****** limited reset ******/
html, body, main, section, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, 
nav, span, div, img, figure, figcaption, footer, #submit{
	border: 0;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Main Content - phone sized
---------------------------*/

.whole-site{
	display: grid;
	grid-template-areas: 
		"banner"
		"main-nav"
		"site"
		"form"
		"footer";
	justify-content: center;
}
.banner{
	grid-area: banner;
}
.main-nav{
	grid-area: main-nav;
}
.site{
	grid-area: site;
}
.main-form{
	grid-area: form;
}
.footer{
	grid-area: footer;
}

body{
	background: #d3dbde;
	font-family: 'Helvetica', 'Arial', sans-serif;
	width: 100vw;
}
h1, h2, h3, h4, h5, h6{
	color: #3b0238;
	font-family: Times, "Times New Roman", serif;
	text-transform: uppercase;
}
p{
	color: #000;
	font-size: .98em;
	margin: 0 1em;
}
img{
	display: block;
	margin: auto;
	width: 280px;
	outline: 5px inset #62045d;
	transition: transform 0.5s;
}
img:focus, img:hover{
	transform: scale(1.03);
}
section{
	margin: 0 .25em;
}
#main-field{
	margin: 0 15%;
}
#submit{
	background: #a5294c;
	border: 3px inset #62045d;
	color: #fff;
	line-height: 1.6em;
	padding: .1em .3em .15em;
	text-shadow: 1px 1px 0 #000;
}

/* Header styling
---------------------------*/
.banner{
	padding: .5em 0 0;
	width: auto;
	position: relative;
}
h1{
	text-align: center;
	font-size: 1.91em;
	margin: .2em 0;
	width: auto;
}
.logo img{
	display: block;
	margin: auto;
	max-width: 75px;
	outline: none;
	transform: none;
}

/* Navigation styling
---------------------------*/

.main-nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-type: none;
}
.main-nav li{
	margin: .5em 2em 0;
	padding: .15em 3em;
}
.main-nav a{
	color: #a5294c;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #fff;
}
.main-nav a:focus, .main-nav a:hover{
	text-decoration: underline;
}
.there {
	display: inline-flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* About styling
---------------------------*/

#about{
	margin-top: .8em;
}
#about img{
	margin-top: .6em;
}
h2{
	font-size: 1.6em;
	margin: 1em 0 .5em .3em;
}

/* Band Members styling
---------------------------*/
/*-- ****  cards  **** --*/

h3{
	font-size: 1.6em;
	margin: .6em 0 1em .3em;
}
.cards figcaption{
	margin: 1em 0 1.5em;
}
.cards li{
	list-style-type: none;
}

/* Albums styling
---------------------------
/*-- ****  albums  **** --*/

h4{
	font-size: 1.6em;
	margin: 0 0 1em .3em;
}
h5{
	font-size: 1.6em;
	margin: .8em 0 0 .3em;
}
.albums > li{
	list-style-type: none;
}
ol{
	list-style-type: numbers;
}
.album ol{
	margin: 1.5em 0 2.5em 2.6em;
}
.albums figcaption{
	margin: auto;
	max-width: 290px;
}
span{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: .8em;
	font-weight: lighter;
	padding: .225em 0 0;
}
ol li{
	font-size: 1em;
}
ol span{
	float: right;
	margin-right: 2em;
}

/* Main Form styling
---------------------------*/
/*-- ****  form  **** --*/

input, textarea, select{
	box-sizing: border-box;
	border: 2px inset #7b0574;
}
.main-form{
	clear: right;
}
#form{
	margin: auto;
	color: #7c1f29;
	font-weight: bold;
}
input, textarea{
	width: 100%;
}
#main-field{
	margin: auto;
	max-width: 700px;
	border: 5px inset #62045d;
}
fieldset{
	margin: .6em 0;
}
#zip{
	width: 105px;
}
#birthday{
	width: 120px;
}
textarea{
	height: 80px;
	margin-top: .3em;
}
#submit{
	cursor: pointer;
	line-height: 1.6em;
	margin: .3em;
	padding: .2em .3em .45em .2em;
	width: 5.6em;
}
h6{
	color: #a5294c;
	font-size: 1.8em;
	margin: 0 0 .4em .3em;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #fff;
	text-transform: none;
}

/* Main Footer styling
---------------------------*/
/*-- ****  footer  **** --*/

.footer{
	background: #718A94;
	color: #a5294c;
	font-size: .75em;
	height: 80px;
	margin-top: 3em;
	padding: 1em .7em;
	width: 100vw;
}
.footer a{
	color: #a5294c;
	font-size: .85em;
	font-weight: normal;
	text-shadow: 1px 1px 0 #000, -0.5px -0.54px 0 #bac6cb;
}
.footer a:focus, .footer a:hover{
	text-decoration: underline;
}

/* larger screen styles
---------------------------*/

@media screen and (min-width: 400px){

	.main-nav{
		background: #d3dbde;
		margin: auto;
		position: sticky;
		top: 0;
		left: 0;
		width: 100vw;
	}
	.main-nav ul{
		flex-direction: row;
		justify-content: center;
		margin: 0 1em;
	}
	.main-nav li{
		font-size: .96em;
		margin: .3em 1em;
		padding: .2em;
	}
	img{
		width: 380px;
	}
}

@media screen and (min-width: 500px){

	.logo img{
		display: inline-block;
		margin: .5em 10% 0 2%;
		position: absolute;
	}
	h2, h3, h4{
		margin-left: 1em;
	}
	img{
		width: 400px;
	}
}

@media screen and (min-width: 600px){

	#about p{
		margin: 0 6em;
	}
	ol li{
		font-size: .92em;
	}
	ol span{
		padding: .35em 0 0;
	}
	h5 span{
			font-size: .6em;
		}
	h2, h3, h4{
		margin-left: 4em;
	}
	p{
		margin: 0 6em;
	}
}

@media screen and (min-width: 800px){

	#about p{
		margin: 0 9em;
	}
	h2, h3, h4{
		margin: 1em 0;
		text-align: center;
	}
	.cards, .albums, h6{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;	
	}
	.card{
		max-width: 360px;
		margin: 0 .2em;
	}
	.cards img, .albums img{
		max-width: 348px;
		margin: 0 .4em;
	}
	.albums img{
		max-width: 346px;
		margin: 0 .6em;
	}
	p{
		margin: 0 1em;
	}	
}

@media screen and (min-width: 836px){

	.card{
		max-width: 375px;
	}
	.cards img, .albums img{
		max-width: 358px;
		margin: 0 .5em;
	}
}

@media screen and (min-width: 1000px){

	#about p{
		margin: 0 12em;
	}
	.card{
		max-width: 420px;
	}
	.cards img, .albums img{
		max-width: 400px;
		margin: 0 .6em;
	}
}

@media screen and (min-width: 1136px){

	.card{
		width: 256px;
		margin: 0 .3em;
	}
	.cards img{
		max-width: 246px;
		margin: 0 .3em;
	}
	.cards figcaption{
		margin: 1em 0;
	}
	p{
		margin: 0 0 0 1em;
	}
	.albums img{
		max-width: 358px;
		margin: 0 .5em;
	}
}

@media screen and (min-width: 1250px){

	.card{
		width: 281px;
		margin: 0 .25em;
	}
	.cards img{
		max-width: 274px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1450px){

	.albums img{
		max-width: 400px;
		margin: 0 .5em;
	}
}

@media screen and (min-width: 1511px){

	.card{
		width: 310px;
		margin: 0 1em;
	}
	.cards img{
		max-width: 310px;
		margin: 0 auto;
	}
	.cards figcaption{
		margin: 1em 0;
	}
	#about p{
		margin: 0 15em;
	}
	.albums img{
		max-width: 280px;
	}
}

@media screen and (min-width: 1650px){ 

	.cards figcaption{
		margin: 1em .4em 1em 0;
	}
	.card{
		width: 360px;
		margin: 0 .5em;
	}
	.cards img{
		max-width: 350px;
	}
	.album{
		margin: 0 .5em;
	}
	.albums img{
		max-width: 290px;
	}
	p{
		margin: 0 0 0 2em;
	}
}

