/*Developer: Lezette Boutin
Table of Contents
HEADER - Discography: Mumford & Sons
MAINCONTENT - Mumford & Sons band & music information
FOOTER - copyrightht 2019
 Color Palette
#000; - black ,
#1E2422 - cool almost black
#220120 - very dark purple,-
#3b0238 - dark purple,
#62045d - plum,
#a5294c - warm cranberry,
#88BEB1 - sage green-
#718A94 - slate gray-   <maybe
#d3dbde - light gray,
#FFF; - white,
*/
/* Global styles
---------------------------*/
/****** limited reset ******/
html, body, main, section, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, 
nav, span, div, img, figure, figcaption, footer, #submit{
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 1.5;
}

/* Main Content - phone sized
---------------------------*/
body{
	background: #d3dbde;
	font-family: 'Helvetica', 'Arial', sans-serif;
	/*outline: 1px solid blue;*/
}
h1, h2, h3, h4, h5, h6{
	color: /*#220120*/ #3b0238 /*#62045d*/;
	font-family: Times, "Times New Roman", serif;
	text-transform: uppercase;
}
p{
	color: #000;
	font-size: 1em;
}
img{
	display: block;
	margin: auto;
	max-width: 280px;
	outline: 5px inset #62045d;
}
section{
	margin: 0 .4em;
	outline: 1px solid blue;
	/*overflow: hidden;*/
}

/* Header styling
---------------------------*/
.banner{
	width: auto;
	padding: .5em 0;
}
.banner h1{
	text-align: center;
}
.logo img{
	display: block;
	max-width: 75px;
	outline: none;
	margin: auto;
}
h1{
	font-size: 1.91em;
	margin: .2em 0 .2em;
	width: auto;
}

/* Navigation styling
---------------------------*/

.main-nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-type: none;
}
.main-nav li{
	
	margin: .5em 2em 0;
	padding: .15em 3em;
}
.main-nav a{
	color: #a5294c;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
}
.main-nav a:focus, .main-nav a:hover{
	text-decoration: underline;
}

.there{/*nav 'top' button*/
		position: fixed;
		bottom: 10px;
		right: 10px;
	}


/* About styling
---------------------------*/

#about img{
	margin-top: .4em;
}
h2{
	margin: 1em 0 1em .3em;
	font-size: 1.6em;
}
p{
	margin: 0 1em;
}

/* Band Members styling
---------------------------*/
/*-- ****  cards  **** --*/

h3{
	margin: 1.6em 0 1em .3em;
	font-size: 1.6em;
}
.cards figcaption{
	margin: 1em 0 2em;
}
.cards li{
	list-style-type: none;
}

/* Albums styling
---------------------------*/
/*-- ****  albums  **** --*/
h4{
	margin: 1.6em 0 1em .3em;
	font-size: 1.6em;
}
h5{
	margin: .8em 0 0 .3em;
	font-size: 1.6em;
}
.albums > li{
	list-style-type: none;
}
/*.albums figcaption:hover{
	padding: 2em 0 0 0;
	/*border: 1px solid black;
	background: white;
}*/

}
ol{
	list-style-type: numbers;
}
.album ol{
	margin: 1.5em 0 2.5em 2.6em;
}
span{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: .8em;
	font-weight: lighter;
	padding: .205em 0 0;
}
ol span{
	float: right;
	margin-right: 3em;
}

/* Main Form styling
---------------------------*/
/*-- ****  form  **** --*/

h6{
	text-transform: none;
	font-size: 1.6em;
}
.maim-form{
	clear: right;
}
#form{
	margin: 0 0 2em 3em;
}
/* Footer styles
---------------------------*/

.footer{
	background: #718A94;
	color: color: #a5294c;
	font-size: .75em;
	height: 5em;
	padding: 2em .6em;
	width: 100vw;
}
.footer a{
	color: #a5294c;
	font-size: .75em;
	font-weight: normal;
	text-shadow: 1px 1px 0 #000;
}
.footer a:focus, .footer a:hover{
	text-decoration: underline;
}

/* larger screen styles
---------------------------*/

@media screen and (min-width: 400px){

	img{
		max-width: 95%;
	}

	.main-nav{
		margin-bottom: .3em; 
	}
	.main-nav ul{
		flex-direction: row;
		justify-content: space-around;
	}
	.main-nav li{
		margin: .3em;
		padding: .2em;
		/*outline: 1px solid blue;*/
		font-size: .96em;
	}
	#about p{
		margin: 0 2em;
	}

}

@media screen and (min-width: 500px){

	#about{
		margin: 0 6%;
	}
	#members{
		margin: 0 6%;
	}
	#main-albums{
		margin: 0 6%;
	}
	#main-albums h3{
		margin: 1em 6%; 
	}
	.cards figcaption{
		margin: auto;
		max-width: 90%;
	}
	.albums figcaption{
		margin: auto;
		max-width: 420px;
	}
	h5{
		margin: 0;
		margin-top: .8em;
	
	}
	p{
	margin: 1em 0 2em;
	}
	.main-form{
		margin: 0 6%;
	}
}
@media screen and (min-width: 600px){

	section{
		width: auto;
		max-width: 900px;
	}	
}









